<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/history.css"/>
</head>
<body>
    <nav>
        <div class="logo"> FUEL QUOTE </div>
        <div class="nav-items">
            <a href="./home.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./quote.html">Quote</a>
            <a href="./history.html" class="active">History</a>
            <a href="./ProfileManage.html">Profile</a>
            <a href="./Login.html">Login</a>
        </div>
    </nav>
    <section class="hero">
        <h1 style="position: relative; top: -150px; text-align: center;"><img src="../img/title.png" alt="designed Price Quote History title with warm color tone" width="600" height="600"></h1>
        <table class="previous-table">
            <thead>
                <tr>
                    <th>Delivery Date</th>
                    <th style="width: 100px">Gallon Requested</th>
                    <th>Delivery Address</th>
                    <th>Suggested Price</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
            </tbody>
        </table>
    </section>
</body>
</html> 