<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../style/login.css"/>
</head>
<body>
   <nav>
        <div class="logo"> FUEL QUOTE </div>
        <div class="nav-items">
         <a href="./home.html">Home</a>
         <a href="./about.html">About</a>
         <a href="./quote.html">Quote</a>
         <a href="./history.html">History</a>
         <a href="./ProfileManage.html">Profile</a>
         <a href="./Login.html" class="active">Login</a>
        </div>
   </nav>

   <section class="hero">
      <div class="login-box">
         <h1>Welcome</h1>
         <div class="input-box">
            <input class="user-name" type="text" placeholder="Username">
         </div>
         <div class="input-box">
            <input class="password" type="password" placeholder="Password" id="myPassword">
            <img src="../img/eye-icons/eye-close.png" id="eyeicon" style="width: 20px;">
         </div>
         <button class="login-button">
            Login
         </button>
         <a class="register" href="Register.html">
            New User? Register Here
         </a>
      </div>
   </section>

   <script>
      let myPassword = document.getElementById("myPassword");
      let eyeicon = document.getElementById("eyeicon");

      eyeicon.onclick = function()
      {
         if (myPassword.type == "password")
         {
            myPassword.type = "text";
            eyeicon.src = "../img/eye-icons/eye-open.png";
         }
         else
         {
            myPassword.type = "password"
            eyeicon.src = "../img/eye-icons/eye-close.png";
         }
      }
   </script>
</body>
</html>