*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
    /* don't let the userscroll down */
}

/* navigation tab adj */
nav{
    height:80px;
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* logo gas adj */
.logo{ 
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

/* navigation text adj */
nav a {
    text-decoration: none;
    color: #000000;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    transition:0.4s;
}

nav a:hover{
    color: #ffffff;
    transition: 0.4s;
}

nav a.active {
    color: #ffffff; /* Set the color to white */
}

/* bg */
.hero{
    background: #c90303;
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(123, 90, 90, 0.85), rgba(173, 144, 144, 0.85)), url(../static/img/station.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 0;
}

.rectangle {
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    border-radius: 20px; 
    padding: 10px 20px;
    display: inline-block;
}

/* CSS styles for the text */
.text {
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    animation: slideToCenter 2s forwards; 
}

@keyframes slideToCenter {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

.about-us-paragraph {
    text-align: center;
    margin-top: 350px;
    color: white;
    font-size: 20px;
    line-height: 2;
    padding: 0 20px;
}