<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Quote History</title>
    <link rel="stylesheet" href="../static/history.css"/>
</head>
<body>
  {% include 'navbar.html' %}
  <section class="hero"></section>  

  <section class="history-table">
      <table>
          <thead>
              <tr>
                  <th>Delivery Date</th>
                  <th>Gallon Requested</th>
                  <th>Delivery Address</th>
                  <th>Suggested Price</th>
                  <th>Total Amount</th>
              </tr>
          </thead>
          <tbody>
              {% for quote in quote_history %}
              <tr>
                  <td>{{ quote.delivery_date }}</td>
                  <td>{{ quote.gallon_requested }}</td>
                  <td>{{ quote.delivery_address }}</td>
                  <td>{{ quote.suggested_price }}</td>
                  <td>{{ quote.total_price }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </section>
</body>
</html> 