<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Quote History</title>
    <link rel="stylesheet" href="../static/history.css"/>
</head>
<body>
    <nav>
        <div class="logo">FUEL QUOTE</div>
        <div class="nav-items">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('about')}}">About</a>
            <a href="{{url_for('quote')}}">Quote</a>
            <a href="{{url_for('history')}}" class="active">History</a>
            <a href="{{url_for('profile')}}">Profile</a>
            <a href="{{url_for('login')}}">Login</a>
        </div>
    </nav>
    <section class="hero">   
        <h1 style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); margin: 0;">
            <img src="../static/img/title.png" alt="designed Price Quote History title with warm color tone" width="600" height="600">
        </h1>      
        <table class="previous-table">
            <thead>
                <tr>
                    <th>Delivery Date</th>
                    <th style="width: 100px">Gallon Requested</th>
                    <th>Delivery Address</th>
                    <th>Suggested Price</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
            </tbody>
        </table>
    </section>
</body>
</html> 