<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Quote History</title>
    <link rel="stylesheet" href="../static/history.css"/>
</head>
<body>
  {% include 'navbar.html' %}
  

  <section class="history-table">
      <table>
          <thead>
              <tr>
                  <th>Delivery Date</th>
                  <th>Gallon Requested</th>
                  <th>Delivery Address</th>
                  <th>Suggested Price</th>
                  <th>Total Amount</th>
              </tr>
          </thead>
          <tbody>
              {% for quote in quote_history %}
              <tr>
                  <td>{{ quote.delivery_date }}</td>
                  <td>{{ quote.gallon_requested }}</td>
                  <td>{{ quote.delivery_address }}</td>
                  <td>{{ quote.suggested_price }}</td>
                  <td>{{ quote.total_amount }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </section>
  <!-- <section class="hero">   
    <h1>
        <img src="../static/img/title.png" alt="designed Price Quote History title with warm color tone" width="600" height="600">
    </h1>
  </section> -->
    <!-- <section class="hero">   
        <h1 style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); margin: 0;">
            <img src="../static/img/title.png" alt="designed Price Quote History title with warm color tone" width="600" height="600">
        </h1>      
        <table class="previous-table">
            <thead>
                <tr>
                    <th>Delivery Date</th>
                    <th style="width: 100px">Gallon Requested</th>
                    <th>Delivery Address</th>
                    <th>Suggested Price</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
                  <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                  </tr>
            </tbody>
        </table>
    </section> -->
</body>
</html> 