<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/profile.css"/>
</head>
<body>
   {% include 'navbar.html' %}

      <header>My Profile</header>
      <section class="profile-block">
         <p style="color: rgb(141, 0, 0);">
            All Fields With "*" Are Required!
         </p>
         <form id="profile-form" method="POST" onsubmit="return profileUpd()">

            <div class="input-box">
               <label for="fullname" class="required">Full Name</label>
               <input type="text" required maxlength="50" value="{{ user_data['fullname'] }}" name="fullname" id="fullname">
            </div>

            <div class="input-box">
               <label for="address1" class="required">Address 1</label>
               <input type="Text" required maxlength="100" value="{{ user_data['address1'] }}" name="address1" id="address1">
            </div>
   
            <div class="input-box">
               <label for="address2" class="option">Address 2</label>
               <input type="text" maxlength="100" value="{{ user_data['address2'] }}" name="address2" id="address2">
            </div>

            <div class="input-box">
               <label for="city" class="required">City</label>
               <input type="text" required maxlength="100" value="{{ user_data['city'] }}" name="city" id="city">
            </div>

            <div class="input-box">
               <label for="states" class="required">State</label>
                  <div class="dropdown-options">
                     <select value="{{ user_data['states'] }}" name="states" id="states" required>
                        <option value="AL" {% if user_data['states'] == 'AL' %} selected {% endif %}>Alabama</option>
                        <option value="AK" {% if user_data['states'] == 'AK' %} selected {% endif %}>Alaska</option>
                        <option value="AZ" {% if user_data['states'] == 'AZ' %} selected {% endif %}>Arizona</option>
                        <option value="AR" {% if user_data['states'] == 'AR' %} selected {% endif %}>Arkansas</option>
                        <option value="CA" {% if user_data['states'] == 'CA' %} selected {% endif %}>California</option>
                        <option value="CO" {% if user_data['states'] == 'CO' %} selected {% endif %}>Colorado</option>
                        <option value="CT" {% if user_data['states'] == 'CT' %} selected {% endif %}>Connecticut</option>
                        <option value="DE" {% if user_data['states'] == 'DE' %} selected {% endif %}>Delaware</option>
                        <option value="DC" {% if user_data['states'] == 'DC' %} selected {% endif %}>District Of Columbia</option>
                        <option value="FL" {% if user_data['states'] == 'FL' %} selected {% endif %}>Florida</option>
                        <option value="GA" {% if user_data['states'] == 'GA' %} selected {% endif %}>Georgia</option>
                        <option value="HI" {% if user_data['states'] == 'HI' %} selected {% endif %}>Hawaii</option>
                        <option value="ID" {% if user_data['states'] == 'ID' %} selected {% endif %}>Idaho</option>
                        <option value="IL" {% if user_data['states'] == 'IL' %} selected {% endif %}>Illinois</option>
                        <option value="IN" {% if user_data['states'] == 'IN' %} selected {% endif %}>Indiana</option>
                        <option value="IA" {% if user_data['states'] == 'IA' %} selected {% endif %}>Iowa</option>
                        <option value="KS" {% if user_data['states'] == 'KS' %} selected {% endif %}>Kansas</option>
                        <option value="KY" {% if user_data['states'] == 'KY' %} selected {% endif %}>Kentucky</option>
                        <option value="LA" {% if user_data['states'] == 'LA' %} selected {% endif %}>Louisiana</option>
                        <option value="ME" {% if user_data['states'] == 'ME' %} selected {% endif %}>Maine</option>
                        <option value="MD" {% if user_data['states'] == 'MD' %} selected {% endif %}>Maryland</option>
                        <option value="MA" {% if user_data['states'] == 'MA' %} selected {% endif %}>Massachusetts</option>
                        <option value="MI" {% if user_data['states'] == 'MI' %} selected {% endif %}>Michigan</option>
                        <option value="MN" {% if user_data['states'] == 'MN' %} selected {% endif %}>Minnesota</option>
                        <option value="MS" {% if user_data['states'] == 'MS' %} selected {% endif %}>Mississippi</option>
                        <option value="MO" {% if user_data['states'] == 'MO' %} selected {% endif %}>Missouri</option>
                        <option value="MT" {% if user_data['states'] == 'MT' %} selected {% endif %}>Montana</option>
                        <option value="NE" {% if user_data['states'] == 'NE' %} selected {% endif %}>Nebraska</option>
                        <option value="NV" {% if user_data['states'] == 'NV' %} selected {% endif %}>Nevada</option>
                        <option value="NH" {% if user_data['states'] == 'NH' %} selected {% endif %}>New Hampshire</option>
                        <option value="NJ" {% if user_data['states'] == 'NJ' %} selected {% endif %}>New Jersey</option>
                        <option value="NM" {% if user_data['states'] == 'NM' %} selected {% endif %}>New Mexico</option>
                        <option value="NY" {% if user_data['states'] == 'NY' %} selected {% endif %}>New York</option>
                        <option value="NC" {% if user_data['states'] == 'NC' %} selected {% endif %}>North Carolina</option>
                        <option value="ND" {% if user_data['states'] == 'ND' %} selected {% endif %}>North Dakota</option>
                        <option value="OH" {% if user_data['states'] == 'OH' %} selected {% endif %}>Ohio</option>
                        <option value="OK" {% if user_data['states'] == 'OK' %} selected {% endif %}>Oklahoma</option>
                        <option value="OR" {% if user_data['states'] == 'OR' %} selected {% endif %}>Oregon</option>
                        <option value="PA" {% if user_data['states'] == 'PA' %} selected {% endif %}>Pennsylvania</option>
                        <option value="RI" {% if user_data['states'] == 'RI' %} selected {% endif %}>Rhode Island</option>
                        <option value="SC" {% if user_data['states'] == 'SC' %} selected {% endif %}>South Carolina</option>
                        <option value="SD" {% if user_data['states'] == 'SD' %} selected {% endif %}>South Dakota</option>
                        <option value="TN" {% if user_data['states'] == 'TN' %} selected {% endif %}>Tennessee</option>
                        <option value="TX" {% if user_data['states'] == 'TX' %} selected {% endif %}>Texas</option>
                        <option value="UT" {% if user_data['states'] == 'UT' %} selected {% endif %}>Utah</option>
                        <option value="VT" {% if user_data['states'] == 'VT' %} selected {% endif %}>Vermont</option>
                        <option value="VA" {% if user_data['states'] == 'VA' %} selected {% endif %}>Virginia</option>
                        <option value="WA" {% if user_data['states'] == 'WA' %} selected {% endif %}>Washington</option>
                        <option value="WV" {% if user_data['states'] == 'WV' %} selected {% endif %}>West Virginia</option>
                        <option value="WI" {% if user_data['states'] == 'WI' %} selected {% endif %}>Wisconsin</option>
                        <option value="WY" {% if user_data['states'] == 'WY' %} selected {% endif %}>Wyoming</option>
                     </select>
                  </div>
            </div>

            <div class="input-box">
               <label for="zip" class="required">Zipcode</label>
               <input type="text" pattern="[0-9]{5,9}" value="{{ user_data['zip'] }}" title="Please enter a valid numeric Zipcode with at least 5 digits." required name="zip" id="zip">
            </div>
         
            <div class="update-button">
               <button type="submit" value="Update Profile">Update Profile</button>
            </div>
         </form>
         {% if error_message %}
            <div class="error-message">
               {{ error_message }}
            </div>
         {% endif %}
      </section>

      <script>
         function profileUpd() {
            // Trigger validation
            let requiredFields = document.querySelectorAll('[required]');

            for (let field of requiredFields) {
            if (!field.checkValidity()) {
               field.reportValidity();
               return;
               }
            }
            showProfileUpdatedMessage();
            return true;
         }
         function showProfileUpdatedMessage() {
            alert("Profile Updated");
         }
      </script>

   </body>
</html>