<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Quote</title>
    <link rel="stylesheet" href="../static/quote.css"/>
    
    <!--For ajax-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    {% include 'navbar.html' %}
    <section class="hero">
        <h2>Make a Quote</h2> <!-- Form title outside the form -->
        <div class="quote-form-container">
            <form id="quoteForm" action="#" method="POST" onsubmit="return fuelPricing()">
                <label for="gallonsRequested">Gallons Requested:</label>
                <input type="number" id="gallonsRequested" name="gallonsRequested" step="0.1" min="0" required>

                <label for="deliveryAddress">Delivery Address:</label>
                <input type="text" id="deliveryAddress" name="deliveryAddress" readonly value= "{{ dAddress }}">

                <label for="deliveryDate">Delivery Date:</label>
                <input type="date" id="deliveryDate" name="deliveryDate" required>

                <!-- Button to request a quote-->
                <button type="submit" id="getQuote" name="getQuote">Get Quote</button>

                <div id="quoteResults"></div>

                <!-- Button to submit quote -->
                <button type="submit" id="submitBtn" name="submitBtn" style="display: none;" onclick="blurPage()">Submit</button>
            </form>
            <div class="afterQuote" id="afterQuote" style="display: none;">
                <p>Data has been successfully sent!</p>
                <p>You will be re-directed to History Page</p>
                <button id="redirectBtn">OK</button>
            </div>
        </div>
    </section>

    <script>
        // Using AJAX to send gallonsRequested to the pricing.py,
        // then receive the suggested price and total price, send it
        // back to html file and display the results.
        
        $(document).ready(function() {
            $('#quoteForm').on('submit', function(event) {
                event.preventDefault();
                const quoteInput = $(this).serialize();

                if (event.originalEvent.submitter.id === 'getQuote') {
                    displayData(quoteInput);
                } else if (event.originalEvent.submitter.id === 'submitBtn') {
                    sendData(quoteInput)
                }
            });

            function displayData(quoteInput) {
                // const gallon = $('#gallonsRequested').val();
                // const deliveryDate = $('#deliveryDate').val();

                $.ajax({
                    url: '/quote',
                    method : 'POST',
                    data: quoteInput + '&displayData=true',
                    success: function(data) {
                        $('#quoteResults').html(`
                            <label>Suggested Price Per Gallon:</label>
                            <p>${data.suggested_price}</p>
                            <label>Total Amount:</label>
                            <p>${data.total_price}</p>
                        `)
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
                document.getElementById('submitBtn').style.display = 'block';
            }

            function sendData(quoteInput) {
                $.ajax({
                    url: '/quote',
                    method: 'POST',
                    data: quoteInput + '&sendData=true', // Add a parameter to differentiate
                    success: function(data) {
                        $('#quoteResults').html(`
                            <p>Data successfully sent</p>
                        `)
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }
        });

        function fuelPricing() {
                return True
        }

        function blurPage() {
            var body = document.body;
            var clearDiv = document.querySelector('.afterQuote');
            body.style.filter = 'blur(5px)'
            clearDiv.style.display = 'block';
        }
    </script>
</body>
</html>
